Collect the data and see how they look. There are three sources of data, so I deal with tehm seperately and combine togather at the end.

In [2]:
import glob 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use(['seaborn-colorblind', 'seaborn-talk'])
plt.rcParams['figure.dpi'] = 300
plt.rcParams['savefig.dpi'] = 300
plt.rcParams['savefig.bbox'] = 'tight'
plt.rcParams['font.sans-serif'] = ['Taipei Sans TC Beta'] # to plot Chinese words properly

import datetime
date = datetime.datetime.now().strftime('%Y%m%d')

%matplotlib inline

# 2020-2021
Downloaded 及時地下水 from https://gweb.wra.gov.tw/Hydroinfo/downloadpage/#.

In [11]:
data2021 = pd.DataFrame()

for csv in glob.glob('data/*.csv'):
    X = pd.read_csv(csv, encoding='big5')
    data2021 = pd.concat([data2021, X], join='outer', axis=0)
    print(len(X))

data2021.reset_index(drop=True, inplace=True)
data2021

8482
23336
21913
22822
7308
17261
14267
82493
17334
32285
59439
24536
8021
10134
12248
31120
110734
9923

,管理單位,氣象局站號,水利署站號,站名,觀測時間,測站高程,雨量值(mm)
0,台北水源特定區,001AE0,1140P164,大林橋,2020-01-01 00:20,181.9,0.5
1,台北水源特定區,001AE0,1140P164,大林橋,2020-01-01 04:50,181.9,0.5
2,台北水源特定區,001AE0,1140P164,大林橋,2020-01-02 02:46,181.9,0.5
3,台北水源特定區,001AE0,1140P164,大林橋,2020-01-05 11:01,181.9,0.5
4,台北水源特定區,001AE0,1140P164,大林橋,2020-01-12 12:24,181.9,0.5
...,...,...,...,...,...,...,...
513651,台北水源特定區,wr1601,1140P168,金瓜寮溪橋,2021-07-06 01:18,184.6,0.5
513652,台北水源特定區,wr1601,1140P168,金瓜寮溪橋,2021-07-06 02:10,184.6,0.5
513653,台北水源特定區,wr1601,1140P168,金瓜寮溪橋,2021-07-06 03:07,184.6,0.5
513654,台北水源特定區,wr1601,1140P168,金瓜寮溪橋,2021-07-06 03:30,184.6,0.5
513655,台北水源特定區,wr1601,1140P168,金瓜寮溪橋,2021-07-07 16:08,184.6,0.5

In [12]:
data_df = pd.read_csv('data\\GW_20201.csv', encoding='big5')
data_df

,管理單位,地下水分區,井號,井名,井頂高程(m),觀測時間,地下水位高(m)
0,第十河川局,臺北盆地,1010212,十工處(1),10.435,2020-01-01 00:00,-1.670
1,第十河川局,臺北盆地,1010212,十工處(1),10.435,2020-01-01 00:10,-1.672
2,第十河川局,臺北盆地,1010212,十工處(1),10.435,2020-01-01 00:20,-1.673
3,第十河川局,臺北盆地,1010212,十工處(1),10.435,2020-01-01 00:30,-1.675
4,第十河川局,臺北盆地,1010212,十工處(1),10.435,2020-01-01 00:40,-1.676
...,...,...,...,...,...,...,...
3419412,第六河川局,嘉南平原,64110231,港和(3),5.459,2020-01-31 23:10,4.095
3419413,第六河川局,嘉南平原,64110231,港和(3),5.459,2020-01-31 23:20,4.094
3419414,第六河川局,嘉南平原,64110231,港和(3),5.459,2020-01-31 23:30,4.094
3419415,第六河川局,嘉南平原,64110231,港和(3),5.459,2020-01-31 23:40,4.094
3419416,第六河川局,嘉南平原,64110231,港和(3),5.459,2020-01-31 23:50,4.094

# Before 2019

In [23]:
glob.glob('data/2019*/*_自記站時水位.csv')

['data\\201901225\\201901225_自記站時水位.csv',
 'data\\201901226\\201901226_自記站時水位.csv',
 'data\\201901228\\201901228_自記站時水位.csv',
 'data\\201901229\\201901229_自記站時水位.csv',
 'data\\201901505\\201901505_自記站時水位.csv',
 'data\\201901506\\201901506_自記站時水位.csv',
 'data\\201901507\\201901507_自記站時水位.csv',
 'data\\201901508\\201901508_自記站時水位.csv',
 'data\\201901509\\201901509_自記站時水位.csv']

In [22]:
pd.read_csv('data\\201901225\\201901225_自記站時水位.csv', encoding='big5', usecols=range(4), dtype={'管理單位': str, '井名': str, '井號': str, '觀測日期': str}, parse_dates=['觀測日期'])

         管理單位                  井名        井號                    觀測日期
0       第四河川局  國聖(1)               07010111    2007/1/1 上午 12:00:00
1       第四河川局  國聖(1)               07010111    2007/1/2 上午 12:00:00
2       第四河川局  國聖(1)               07010111    2007/1/3 上午 12:00:00
3       第四河川局  國聖(1)               07010111    2007/1/4 上午 12:00:00
4       第四河川局  國聖(1)               07010111    2007/1/5 上午 12:00:00
...       ...                 ...       ...                     ...
892153  第五河川局  重寮                  101111M3  2017/12/16 上午 12:00:00
892154  第五河川局  重寮                  101111M3  2017/12/17 上午 12:00:00
892155  第五河川局  重寮                  101111M3  2017/12/18 上午 12:00:00
892156  第五河川局  重寮                  101111M3  2017/12/19 上午 12:00:00
892157  第五河川局  重寮                  101111M3  2017/12/20 上午 12:00:00

[892158 rows x 4 columns]

In [31]:
pd.read_csv('data\\201901225\\201901225_自記站時水位.csv', encoding='big5' , dtype={'井號': str, '觀測日期': str})

,管理單位,井名,井號,觀測日期,0時(m),1時(m),2時(m),3時(m),4時(m),5時(m),...,14時(m),15時(m),16時(m),17時(m),18時(m),19時(m),20時(m),21時(m),22時(m),23時(m)
0,第四河川局,國聖(1),07010111,2007/1/1 上午 12:00:00,16.88,16.88,16.88,16.88,16.88,16.88,...,16.89,16.89,16.88,16.88,16.87,16.88,16.88,16.88,16.88,16.88
1,第四河川局,國聖(1),07010111,2007/1/2 上午 12:00:00,16.88,16.88,16.88,16.88,16.88,16.88,...,16.88,16.87,16.87,16.86,16.86,16.86,16.86,16.86,16.86,16.86
2,第四河川局,國聖(1),07010111,2007/1/3 上午 12:00:00,16.86,16.86,16.87,16.86,16.86,16.86,...,16.85,16.84,16.85,16.84,16.84,16.84,16.84,16.84,16.84,16.84
3,第四河川局,國聖(1),07010111,2007/1/4 上午 12:00:00,16.84,16.84,16.84,16.84,16.85,16.85,...,16.84,16.83,16.83,16.82,16.82,16.82,16.82,16.82,16.82,16.82
4,第四河川局,國聖(1),07010111,2007/1/5 上午 12:00:00,16.82,16.83,16.83,16.83,16.83,16.83,...,16.82,16.82,16.81,16.81,16.81,16.81,16.81,16.81,16.81,16.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892153,第五河川局,重寮,101111M3,2017/12/16 上午 12:00:00,-3.12,-3.13,-3.13,-3.13,-3.14,-3.13,...,-3.12,-3.12,-3.12,-3.11,-3.11,-3.12,-3.12,-3.12,-3.11,-3.11
892154,第五河川局,重寮,101111M3,2017/12/17 上午 12:00:00,-3.11,-3.11,-3.11,-3.11,-3.11,-3.10,...,-3.09,-3.09,-3.09,-3.09,-3.09,-3.09,-3.09,-3.09,-3.09,-3.09
892155,第五河川局,重寮,101111M3,2017/12/18 上午 12:00:00,-3.09,-3.09,-3.08,-3.08,-3.08,-3.08,...,-3.08,-3.07,-3.08,-3.08,-3.08,-3.08,-3.08,-3.08,-3.08,-3.08
892156,第五河川局,重寮,101111M3,2017/12/19 上午 12:00:00,-3.08,-3.08,-3.08,-3.08,-3.08,-3.08,...,-3.07,-3.07,-3.07,-3.08,-3.08,-3.08,-3.10,-3.10,-3.11,-3.11
892157,第五河川局,重寮,101111M3,2017/12/20 上午 12:00:00,-3.11,-3.11,-3.11,-3.11,-3.11,-3.11,...,-3.10,-3.10,-3.10,-3.10,-3.10,-3.10,-3.11,-3.11,-3.10,-3.11

In [34]:
test = pd.read_csv('data\\201901225\\201901225_自記站時水位.csv', encoding='big5' , dtype={'井號': str, '觀測日期': str}).iloc[:5, :8]
test

,管理單位,井名,井號,觀測日期,0時(m),1時(m),2時(m),3時(m)
0,第四河川局,國聖(1),07010111,2007/1/1 上午 12:00:00,16.88,16.88,16.88,16.88
1,第四河川局,國聖(1),07010111,2007/1/2 上午 12:00:00,16.88,16.88,16.88,16.88
2,第四河川局,國聖(1),07010111,2007/1/3 上午 12:00:00,16.86,16.86,16.87,16.86
3,第四河川局,國聖(1),07010111,2007/1/4 上午 12:00:00,16.84,16.84,16.84,16.84
4,第四河川局,國聖(1),07010111,2007/1/5 上午 12:00:00,16.82,16.83,16.83,16.83

In [40]:
test['觀測日期'] = [date[:-12] for date in test['觀測日期']]

In [39]:
test['id'] = ['']

['2007/1/1', '2007/1/2', '2007/1/3', '2007/1/4', '2007/1/5']

In [35]:
pd.melt(test, value_vars=test.columns[-4:])

   variable  value
0     0時(m)  16.88
1     0時(m)  16.88
2     0時(m)  16.86
3     0時(m)  16.84
4     0時(m)  16.82
5     1時(m)  16.88
6     1時(m)  16.88
7     1時(m)  16.86
8     1時(m)  16.84
9     1時(m)  16.83
10    2時(m)  16.88
11    2時(m)  16.88
12    2時(m)  16.87
13    2時(m)  16.84
14    2時(m)  16.83
15    3時(m)  16.88
16    3時(m)  16.88
17    3時(m)  16.86
18    3時(m)  16.84
19    3時(m)  16.83

# 2019

In [15]:
pd.read_csv('data\\1\\三星觀一(02100211)_20210405205334.csv', encoding='big5', skiprows=2)

                      日期時間    地下水位
0      2019-01-01 00:00:00  66.743
1      2019-01-01 00:10:00  66.743
2      2019-01-01 00:20:00  66.744
3      2019-01-01 00:30:00  66.744
4      2019-01-01 00:40:00  66.743
...                    ...     ...
52554  2019-12-31 23:10:00  65.592
52555  2019-12-31 23:20:00  65.592
52556  2019-12-31 23:30:00  65.593
52557  2019-12-31 23:40:00  65.592
52558  2019-12-31 23:50:00  65.591

[52559 rows x 2 columns]