Update the column names of WRA's water quality in csv file to be consist with EPA csv.

In [18]:
import pandas as pd
import datetime
date = datetime.datetime.now().strftime('%Y%m%d')

In [2]:
raw_df = pd.read_excel(
    'data/wra_1992-2019_compile_20210421.xlsx',
    index_col=0
    )
csv_df = pd.read_csv('data/database_ZAF_wa_clean_gps_20211008.csv')
shp_df = gd.read_file('data/ZAF_wa_wra_20211008.shp', encoding='big5')

In [9]:
csv_df.columns

Index(['井號', '井名', '井別', '取樣日期', '檢驗日期', 'Hard(mg/L)', 'CL(mg/L)',
       'HCO3(mg/L)', 'SO4(mg/L)', 'NO3_N(mg/L)', 'NH3_N(mg/L)', 'Ca(mg/L)',
       'Mg(mg/L)', 'K(mg/L)', 'Na(mg/L)', 'Aso', 'Fe(mg/L)', 'Mn(mg/L)',
       'Cd(mg/L)', 'ECOLI(個/100mL)', 'TDS(mg/L)', 'ALK(mg/L)', 'Sulfide',
       'Cr(mg/L)', 'Cu(mg/L)', 'Zn(mg/L)', 'Pb(mg/L)', 'Temp(度)', 'PH',
       'EC(uS/cm)', 'Organ_N', 'TOC(mg/L)', 'CO3(mg/L)', 'TSS(mg/L)', 'Eh',
       'sheet', 'Lon', 'Lat'],
      dtype='object')

In [10]:
shp_df.columns

Index(['SiteId', 'SiteName', 'SiteType', 'SampleDate', 'ExamDate',
       'Hard(mg/L)', 'CL(mg/L)', 'HCO3(mg/L)', 'SO4(mg/L)', 'NO3_N(ppm)',
       'NH3_N(ppm)', 'Ca(mg/L)', 'Mg(mg/L)', 'K(mg/L)', 'Na(mg/L)', 'Aso',
       'Fe(mg/L)', 'Mn(mg/L)', 'Cd(mg/L)', 'ECOLI', 'TDS(mg/L)', 'ALK(mg/L)',
       'Sulfide', 'Cr(mg/L)', 'Cu(mg/L)', 'Zn(mg/L)', 'Pb(mg/L)', 'Temp', 'PH',
       'EC(uS/cm)', 'Organ_N', 'TOC(mg/L)', 'CO3(mg/L)', 'TSS(mg/L)', 'Eh',
       'sheet', 'Lon', 'Lat', 'geometry'],
      dtype='object')

In [12]:
new_cols[5].split('(')[1][:-1]

'mg/L'

In [13]:
# seperate the units from the names
new_cols = [
       'SiteId', 'SiteName', 'SiteType', 'SampleDate', 'ExamDate', 'Hard(mg/L)', 'CL(mg/L)',
       'HCO3(mg/L)', 'SO4(mg/L)', 'NO3_N(mg/L)', 'NH3_N(mg/L)', 'Ca(mg/L)',
       'Mg(mg/L)', 'K(mg/L)', 'Na(mg/L)', 'Aso', 'Fe(mg/L)', 'Mn(mg/L)',
       'Cd(mg/L)', 'ECOLI(個/100mL)', 'TDS(mg/L)', 'ALK(mg/L)', 'Sulfide',
       'Cr(mg/L)', 'Cu(mg/L)', 'Zn(mg/L)', 'Pb(mg/L)', 'Temp(度)', 'PH',
       'EC(uS/cm)', 'Organ_N', 'TOC(mg/L)', 'CO3(mg/L)', 'TSS(mg/L)', 'Eh',
       'sheet', 'Lon', 'Lat'
       ]
mo_cols = []
units = []
for name in new_cols:
       if '(' in name:
              s = name.split('(')
              mo_cols.append(s[0])
              units.append(s[1][:-1])
       else:
              mo_cols.append(name)
              units.append('')

In [17]:
cols_df = pd.concat([
    pd.Series(raw_df.columns, name='raw column names'),
    pd.Series(units, name='units'),
    pd.Series(mo_cols, name='csv column names'),
    pd.Series(shp_df.columns, name='shp column names')],
    axis=1, join='outer'
    )
cols_df

   raw column names    units csv column names shp column names
0                井號                    SiteId           SiteId
1                井名                  SiteName         SiteName
2                井別                  SiteType         SiteType
3              取樣日期                SampleDate       SampleDate
4              檢驗日期                  ExamDate         ExamDate
5        Hard(mg/L)     mg/L             Hard       Hard(mg/L)
6          CL(mg/L)     mg/L               CL         CL(mg/L)
7        HCO3(mg/L)     mg/L             HCO3       HCO3(mg/L)
8         SO4(mg/L)     mg/L              SO4        SO4(mg/L)
9       NO3_N(mg/L)     mg/L            NO3_N       NO3_N(ppm)
10      NH3_N(mg/L)     mg/L            NH3_N       NH3_N(ppm)
11         Ca(mg/L)     mg/L               Ca         Ca(mg/L)
12         Mg(mg/L)     mg/L               Mg         Mg(mg/L)
13          K(mg/L)     mg/L                K          K(mg/L)
14         Na(mg/L)     mg/L               Na         Na(mg/L)
15              Aso                       Aso              Aso
16         Fe(mg/L)     mg/L               Fe         Fe(mg/L)
17         Mn(mg/L)     mg/L               Mn         Mn(mg/L)
18         Cd(mg/L)     mg/L               Cd         Cd(mg/L)
19   ECOLI(個/100mL)  個/100mL            ECOLI            ECOLI
20        TDS(mg/L)     mg/L              TDS        TDS(mg/L)
21        ALK(mg/L)     mg/L              ALK        ALK(mg/L)
22          Sulfide                   Sulfide          Sulfide
23         Cr(mg/L)     mg/L               Cr         Cr(mg/L)
24         Cu(mg/L)     mg/L               Cu         Cu(mg/L)
25         Zn(mg/L)     mg/L               Zn         Zn(mg/L)
26         Pb(mg/L)     mg/L               Pb         Pb(mg/L)
27          Temp(度)        度             Temp             Temp
28               PH                        PH               PH
29        EC(uS/cm)    uS/cm               EC        EC(uS/cm)
30          Organ_N                   Organ_N          Organ_N
31        TOC(mg/L)     mg/L              TOC        TOC(mg/L)
32        CO3(mg/L)     mg/L              CO3        CO3(mg/L)
33        TSS(mg/L)     mg/L              TSS        TSS(mg/L)
34               Eh                        Eh               Eh
35            sheet                     sheet            sheet
36              NaN                       Lon              Lon
37              NaN                       Lat              Lat
38              NaN      NaN              NaN         geometry

In [20]:
# minor modification
units[15] = 'mg/L'
units[22] = 'mg/L'
units[34] = 'mV'

mo_cols[15] = 'As'

In [21]:
csv_df.columns = mo_cols

In [22]:
csv_df.columns = mo_cols
cols_df = pd.concat([
    pd.Series(raw_df.columns, name='raw column names'),
    pd.Series(units, name='units'),
    pd.Series(csv_df.columns, name='csv column names'),
    pd.Series(shp_df.columns, name='shp column names')],
    axis=1, join='outer'
    )
cols_df

   raw column names    units csv column names shp column names
0                井號                    SiteId           SiteId
1                井名                  SiteName         SiteName
2                井別                  SiteType         SiteType
3              取樣日期                SampleDate       SampleDate
4              檢驗日期                  ExamDate         ExamDate
5        Hard(mg/L)     mg/L             Hard       Hard(mg/L)
6          CL(mg/L)     mg/L               CL         CL(mg/L)
7        HCO3(mg/L)     mg/L             HCO3       HCO3(mg/L)
8         SO4(mg/L)     mg/L              SO4        SO4(mg/L)
9       NO3_N(mg/L)     mg/L            NO3_N       NO3_N(ppm)
10      NH3_N(mg/L)     mg/L            NH3_N       NH3_N(ppm)
11         Ca(mg/L)     mg/L               Ca         Ca(mg/L)
12         Mg(mg/L)     mg/L               Mg         Mg(mg/L)
13          K(mg/L)     mg/L                K          K(mg/L)
14         Na(mg/L)     mg/L               Na         Na(mg/L)
15              Aso     mg/L               As              Aso
16         Fe(mg/L)     mg/L               Fe         Fe(mg/L)
17         Mn(mg/L)     mg/L               Mn         Mn(mg/L)
18         Cd(mg/L)     mg/L               Cd         Cd(mg/L)
19   ECOLI(個/100mL)  個/100mL            ECOLI            ECOLI
20        TDS(mg/L)     mg/L              TDS        TDS(mg/L)
21        ALK(mg/L)     mg/L              ALK        ALK(mg/L)
22          Sulfide     mg/L          Sulfide          Sulfide
23         Cr(mg/L)     mg/L               Cr         Cr(mg/L)
24         Cu(mg/L)     mg/L               Cu         Cu(mg/L)
25         Zn(mg/L)     mg/L               Zn         Zn(mg/L)
26         Pb(mg/L)     mg/L               Pb         Pb(mg/L)
27          Temp(度)        度             Temp             Temp
28               PH                        PH               PH
29        EC(uS/cm)    uS/cm               EC        EC(uS/cm)
30          Organ_N                   Organ_N          Organ_N
31        TOC(mg/L)     mg/L              TOC        TOC(mg/L)
32        CO3(mg/L)     mg/L              CO3        CO3(mg/L)
33        TSS(mg/L)     mg/L              TSS        TSS(mg/L)
34               Eh       mV               Eh               Eh
35            sheet                     sheet            sheet
36              NaN                       Lon              Lon
37              NaN                       Lat              Lat
38              NaN      NaN              NaN         geometry

In [23]:
cols_df.to_csv('data/database_ZAF_wra_wa_colnames_{}.csv'.format(date), index=False)
csv_df.to_csv('data/database_ZAF_wa_clean_gps_{}.csv'.format(date), index=False, encoding='utf-8')
print(date)

20211027